<div
  class="h-full w-full px-5 py-5"
  *ngIf="!loaderService.isLoading"
  [ngClass]="{
    animate__animated: !loaderService.isLoading,
    animate__fadeIn: !loaderService.isLoading
  }"
>
  <section class="h-auto rounded-md bg-slate-700 p-5 shadow-md">
    <div class="mb-3 border-b pb-5 pt-3 text-xl font-semibold">
      <h1>User Profile</h1>
    </div>
    <div
      class="mt-5 w-full flex-1 md:flex"
      *ngIf="authService.userData as user"
    >
      <div>
        <div
          class="flex items-center justify-center sm:my-5 md:mx-5"
        >
          <img
            class="w-60 rounded-full border-none object-cover p-2 shadow-lg bg-slate-800 bg-opacity-80"
            src="{{
              user.photoURL
                ? user.photoURL
                : 'assets/images/backgrounds/profile.webp'
            }}"
            alt="{{ user.displayName }}"
          />
        </div>
        <div class="flex items-center justify-center pt-3 opacity-90 sm:px-4">
          <button
            class="rounded-md bg-slate-800 text-sm p-2 shadow-md italic w-44 opacity-90 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-105 hover:bg-slate-500"
            type="button"
          >
            Update User
          </button>
        </div>
      </div>
      <div class="w-full rounded-md px-5 py-5 shadow-md">
        <h1 class="text-xl font-bold">
          Hello:
          <span class="font-semibold">{{
            user.displayName ? user.displayName : "User"
          }}</span>
        </h1>
        <p>
          User ID: <span class="font-semibold">{{ user.uid }}</span>
        </p>
        <p>
          Email: <span class="font-semibold">{{ user.email }}</span>
        </p>
        <p>
          Role: <span class="font-semibold">{{ user.role }}</span>
        </p>
      </div>
    </div>
    <div
      class="mt-5 flex w-full items-center justify-center space-x-5 rounded-md shadow-md before:h-16"
    >
      <p>Button 1</p>
      <p>Button 2</p>
      <p>Button 3</p>
      <p>Button 4</p>
      <p>Button 5</p>
    </div>
    <div class="flex items-center justify-end py-5 text-sm">
      <button
        class="rounded-md bg-slate-800 p-2 shadow-md italic w-44 opacity-90 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-105 hover:bg-slate-500"
        type="button"
        (click)="authService.deleteUser()"
      >
        Delete User
      </button>
    </div>
  </section>
  <!-- Dashboard content -->
  <section></section>
</div>
